<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Attenuation level: {{ selectedAttenuation }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item hand" (click)="clearSelection()">All attenuations</a>
    <a *ngFor="let attenuation_level of attenuations" class="dropdown-item hand" 
    (click)="filterThisAttenuation(attenuation_level)">{{ attenuation_level }} </a>
  </div>
</div>
