img {
    max-width:50px;
    max-height:150px;
    display:flex;
    align-items:center;
}

#tagline {
    font-family: 'Nosifer', cursive;
    color: #fb3569;
    font-size: 20px;   
}

/* #frame {
    margin-top: 10px;
    margin-bottom: 10px;
} */

.card-body {
    height: 290px;
    text-align: center;
    background-color: #51eaea;
}

.card-img-top {
    padding-top: 50%;
}


.list-inline li {
    width: 265px;
    margin-left: 25px;
    margin-top:10px;
    margin-right: 25px;
}

.card-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #fffde1;
}

#img-box {
    background-color: #fb3569;
}

